* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

.tCenter {
    text-align: center;
}

.Grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.2rem;
    width: 80%;
    margin: 2rem auto;
}

.card {
    width: 300px;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.card .detalis {
    padding: 1rem;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
}

li {
    list-style: none;
}
.btn{
    padding: 1rem 1.5rem;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 1rem;
}
.primaryBtn{background: #41b883; color: #fff;}
.flexCenter, .header{
    display: flex;
    align-items: center;
}
.w80, .header{width: 80%;}.w100{width: 100%;}
.mAuto, .header{margin: auto;}
.h100vh{height: 100vh;}
img{
    width: 100%;
    height: 100%;
}
.mr-2{margin-right: 2rem;}.mt-10{margin-top: 10px;}.mt-05{margin-top: 5px;}
.header{
    height: calc(100vh - 100px);
}
